body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  font-size: 40px;
}

 .text-blue {
  color: skyblue;
}

.text-pink {
  color: rgb(255, 192, 203);
}